@import url(./normalize.css);
@import url(./root.css);
@import url(./loading.css);
@import url(./modal.css);
@import url(./navigation.css);

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger span {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-span-color);
  margin: 2px;
  height: 5px;
}

.burger span:nth-child(1) {
  transform: translateY(8px) rotate('45deg');
}
.burger span:nth-child(2) {
  opacity: 0;
}
.burger span:nth-child(1) {
  transform: translateY(8px) rotate('-45deg');
}
