:root {  
  --color-white: #fff;
  --font-size:font-size: calc(0.5rem + 0.8vw);
  --primary: 169deg 53% 14%;
  --dark: hsl(169deg 53% 3%);
  --light: hsl(169deg 53% 97%);
  --header-container-height: 10vh;
  --header-menu-right-margin: 25px;
  --font-size-normal: 1em;
  --font-size-medium: 1.12em;
  --font-size-large: 1.34em;
  --font-size-xlarge: 1.7em;
  --font-size-xxlarge: 2.1em;
  --transition-time: 0.3s;
  /* --test: #ffce00;
  --test2: #fe4880; */
  --test: #93a9ec;
  --test2: #423d2e;
}
::selection {
  background-color: hsl(var(--primary) / 30%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  /* height: 100%; */
  margin: 0;
}
body {
  background-color: rgb(163, 160, 167);
}

li {
  list-style: none;
}
a,
a:visited {
  color: var(--color-white);
  font-size: 20px;
  text-decoration: none;
  /* text-transform: uppercase; */
}
a:hover {
  color: var(--color-white);
}

.header{
  position: sticky;
  top: 0;
  z-index: 1;
}

.music p{
  font-size: 30px;
  font-family: 'Carattere', cursive;
}
.music img
{
  position: relative;
  content:url("../img/music.svg");
  width: 20vw;
  height: 20vh;
}

.music img.left {
right: 150px;
}
.music img.right {
  left: 150px;
}

.figure-img{
  display: block;
  position: relative;
  width: 50%;
  /* height: 50vh; */
  /* border-radius: 50%; */
  margin: 100px auto 0 auto;
  /* top: 0;
  bottom: 0; */
  animation: upDown 3s linear infinite;
}
.img-profil{
  width: 100%;
  border-radius: 50%;

  
}

@keyframes upDown {
  0%, 100%{
transform:  translateY(-30px);
  }
  50%{
    transform:  translateY(-70px);
  }
}

@media screen and (min-width: 640px) {

  .img-profil{
    width: 50%;
  }
  .music img.left, .music img.right {
    height: 10vh;
  }
}