:root {  
  --color-white: #fff;
  --font-size:font-size: calc(0.5rem + 0.8vw);
  --primary: 169deg 53% 14%;
  --dark: hsl(169deg 53% 3%);
  --light: hsl(169deg 53% 97%);
  --header-container-height: 10vh;
  --header-menu-right-margin: 25px;
  --font-size-normal: 1em;
  --font-size-medium: 1.12em;
  --font-size-large: 1.34em;
  --font-size-xlarge: 1.7em;
  --font-size-xxlarge: 2.1em;
  --transition-time: 0.3s;
  /* --test: #ffce00;
  --test2: #fe4880; */
  --test: #93a9ec;
  --test2: #423d2e;
}
::selection {
  background-color: hsl(var(--primary) / 30%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  /* height: 100%; */
  margin: 0;
}
body {
  background-color: rgb(163, 160, 167);
}

li {
  list-style: none;
}
a,
a:visited {
  color: var(--color-white);
  font-size: 20px;
  text-decoration: none;
  /* text-transform: uppercase; */
}
a:hover {
  color: var(--color-white);
}

.header{
  position: sticky;
  top: 0;
  z-index: 1;
}
.about{
  padding: 10px;
}
.music p{
  font-size: 30px;
  font-family: 'Carattere', cursive;
  margin: 0;
}
.music>p:nth-child(5){
  margin-bottom: 1em;

}
.music img
{
  position: relative;
  content:url("../img/music.svg");
  width: 20vw;
  height: 20vh;
}

.music img.left {
right: 110px;
}
.music img.right {
  left: 110px;
}

.figure-img{
  display: block;
  position: relative;
  width: 50%;
  /* height: 50vh; */
  /* border-radius: 50%; */
  margin: 100px auto 0 auto;
  /* top: 0;
  bottom: 0; */
  animation: upDown 3s linear infinite;
}
.img-profil{
  width: 100%;
  border-radius: 50%;  
}
.profil>p{
  font-family: 'Carattere', sans-serif;
  font-size: 30px;
  text-align: center;
}

.cv-link-svg-right{

animation: arrowRight 3s linear infinite;
position: relative;
}
.cv-link-svg-left{

  animation: arrowLeft 3s linear infinite;
  position: relative;
}
.cv-link{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cv-link a{
  text-align: center;
  margin: 15px 0;  
  animation: coloredLink 3s infinite;
  font-weight: 900;
}
@keyframes coloredLink {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(360, 65%, 45%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}
@keyframes upDown {
  0%, 100%{
transform:  translateY(-30px);
  }
  50%{
    transform:  translateY(-70px);
  }
}

@media screen and (min-width: 640px) {

  .img-profil{
    width: 50%;
  }
  .music img.left, .music img.right {
    height: 10vh;
  }
}

@keyframes arrowLeft {
  0%, 100%{
    transform:  translateX(15px);
      }
      50%{
        transform:  translateX(30px);
      }
    }

@keyframes arrowRight {
  0%, 100%{
    transform:  translateX(-15px);
      }
      50%{
        transform:  translateX(-30px);
      }
    }
